html,body{
  overflow-x: hidden;
  background-color:aliceblue;
}

#logo{
  padding-top: 15%;
  padding-left: 0;
}

nav.navbar.navbar-expand-md.navbar-light.bg-sm-light.stick-top {
  padding-left: 0;
}

.container-fluid{
  padding-left: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

nav ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  margin-top: 1.5%;
}

nav ul li{
  padding-right: 22%;
  font-size: 20px;
}

nav ul li a:hover{
  text-decoration: none;
  border-bottom: 2px solid;
  border-color: #0A7BFC;
}

.active a{
  border-bottom: 2px solid;
  border-color: #0A7BFC;
}
#btnlogin{
  visibility: hidden;
}

.pag1{
  background-image: url('icebergFundo.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 900px;
  background-position-x: right;
  background-position-y: center;
  padding-left: 5%;
}
.pag1 h1{
  width: 60%;
  font-size: 60px;
  margin-top: 5%;
  padding-bottom: 2%;
}


.pag1 p{
  font-size: 20px;
  width: 50%;
}

#btnExpandir{
  margin-top: 7%;
  width: 25%;
  font-size: 20px;
}

.pag2{
  margin-top: 8%;
  background-color: #DBECFF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.quadro{
  background-color: #96C7FF;
  width: 280px;
  margin-left: 5%;
  height: 250px;
  border-radius: 5px;
  box-shadow: 0 10px 5px grey;
  padding: 15px 10px;
  text-align: center;
}

#quadro1:hover{
  padding-bottom: 400px;
  background-image: url('pinguim.png');
  background-repeat: no-repeat;
  background-size: 70% ;
  background-position-x: center;
  background-position-y: bottom;
}

#quadro2:hover{
  padding-bottom: 400px;
  background-image: url('teste1-01.png');
  background-repeat: no-repeat;
  background-size: 70% ;
  background-position-x: center;
  background-position-y: bottom;
}

#quadro3:hover{
  padding-bottom: 400px;
  background-image: url('teste1-03.png');
  background-repeat: no-repeat;
  background-size: 70% ;
  background-position-x: center;
  background-position-y: bottom;
}

.quadro h4{
  font-size: 26px;
}
.quadro p{
  padding-top: 20px;
  width: auto;
  color: white;
}

.embaixo{
  margin-top: 100px;
}

.pag3{
  margin-top: 15%;
  height: 500px;
  padding: 10px 100px;
  
}

.pag3 h2{
  text-align: center;
  border-bottom: 1px solid;
  border-color: #0A7BFC;
  font-size: 45px;
  padding-bottom: 20px;
}

.blocos{
  padding: 10px 100px;
}
.blocos .row {
  text-align: center;
  border-bottom: 1px solid;
  border-color: #0A7BFC;
  text-align: left;
  padding-top: 5%;
  padding-bottom: 5%;
}


.servicos h4{
  padding-top: 5%;
  width: 80%;
  font-size: 20px;
}

.pag3 a{
  color: black;
}

.pag3 a:hover{
  color: #0A7BFC;
  text-decoration: none;
}


.pag4{
  margin-top: 15%;
  padding-left: 15%;
}

.pag4 h2{
  padding-bottom: 5%;
  border-bottom: 1px solid;
  border-color: #DED2D2;
}

.pag4 p{
  width: 90%;
}


.face {
  display: block;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
}
.frente {
  background-color: #C0D9D9;
  transform: translateZ(100px);
}
.direita {
  background-color: #d4e9e9;
  transform: translateX(100px) rotateY(90deg);
}
.esquerda {
  background-color: #d4e9e9;
  transform: translateX(-100px) rotateY(-90deg);
}
.cima {
  background-color: #d4e9e9;
  transform: translateY(100px) rotateX(90deg);
}
.baixo {
  background-color: #d4e9e9;
  transform: translateY(-100px) rotateX(-90deg);
}
.tras {
  background-color: #C0D9D9;
  transform: translateZ(-100px) rotateY(180deg);
}
.cubo {
  transform-style: preserve-3d;
  width: 200px;
  height: 200px;
  position: relative;
  top: 100px;
  left: 100px;
  transform: rotateX(10deg) rotateY(10deg);  
  animation: rotation 45s infinite ;
  }

@keyframes rotation{
from{transform: rotate(0deg) rotateX(0deg);}
to{transform: rotate(720deg) rotateX(720deg);} 
}





.pag5{
  margin-top: 15%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 5.4%, aliceblue 100%), rgba(181, 211, 244, 0.99);
  height: 400px;
  padding: 5% 15%;
}

.pag5 h2{
  width: 20%;
  border-bottom: 2px solid;
  border-color: #96C7FF;
}
.carousel-inner img {
  width: 100%;
  height: 100%;
}


footer{
    padding-left: 5%;
    margin-top: 7%;
}

footer ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    padding-top: 5%;
}

footer ul li{
    padding-right: 20px;
}

footer p {
    margin-bottom: 0;
}

.listanav{
  padding-top: 0;
  display: block;
}



@media screen and (max-width: 768px) {
  .pag1 h1{
      font-size: 40px;
  }
  
  .pag1 p{
      visibility: hidden;
  }

  #btnExpandir{
    margin-top: -50%;
    width: 85%;
  }
  .pag2{
      margin-top: -25%;
      height: auto;
      width: -webkit-fill-available;
      display: inline-block;
      justify-content: center;
      align-items: center;
  }

  
  .quadro{
      margin-top: 5%;
      margin-left: 12%;
  }

  .pag3{
      margin-top: 25%;
      height: auto;
      padding: 10px 0;
  }
  
  .servicos h4{
    width: 100%;
  }
  .cubo{
      left: 8%;
  }

  .pag4 h2{
    width: 90%;
  }

  .pag5{
      margin-top: 50%;
  }

  footer{
    margin-top: -20%;
  }
  
}